body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
}

form {
    text-align: center;
    margin-bottom: 50px;
}

h1 {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 25px;
    color: #000000;
}

h2 {
    text-align: center;
    color: #000080;
}

p {
    text-align: center;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

#submitButton {
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #f0c518;
    color: #003262;
    cursor: pointer;
    transition: background-color 0.3s;
}

#submitButton:hover {
    background-color: #0056b3;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
    color: #333;
}

tr:nth-child(even) {
    background-color: #c8c8c8;
}

tr:hover {
    background-color: #f0c518;
}
